$blue500: #0089fb;
$blue200: #d1f4ff;
$purple200: #ede2ee;
$purple500: #8c588f;
$purple900: #2c1b2d;
$green500: #58d1a5;
$green200: #e2faf1;
$red: #fd1015;
$yellow: #ffc65a;
$orange: #e67e22;
$gray: #0e0000;
$light-gray: #f4f4f4;

// Aliases
$green: $green500;
$blue: $blue500;
